.swiper-container {
  z-index: 0;
  border: 5px solid red;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 50%;
  color: white;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 100%;
}
